.avatar-img {
    width: 128px;
    height: 128px;
}

.well.box-text{
    color: white;
        h3{
            margin-top: 0;
        }
        
}

.well.box-text.profile-contact{
    background-color: green;
    border-color: white;
}

.well.box-text.profile-description{
    background-color: blue;
    border-color: white;
}